:root.light{
    --main-background: white ;
    --second-backfround: rgb(221, 250, 255);
    --text-color: black;
}
:root.dark{
    --main-background: rgb(0, 0, 0) ;
    --second-backfround:  rgb(0, 88, 96);
    --text-color: white;
}

html{
    font-size: 2rem;
    color: var(--text-color);
}
body{
    width: max(375px, 100%);
}
.parent{
    background-color: var(--second-backfround);
    height: calc(4  * 100vh);
    display: flex; 
    flex-direction: column;
}

.titre{
    text-align: center;
    background-color: var(--main-background);
    margin: 0;
    padding: 4% 0;
}

.hero-title{
    align-items: stretch;
    background-color: var(--second-backfround);
    padding: 16vh 0;
}
.lets{
    letter-spacing: calc(calc(100vw - calc(5ch))/8);
    font-size: 2rem;
    margin: 0;
    transform: scaleY(4);
}
.count{
    letter-spacing: calc(calc(100vw - calc(5ch))/8);
    font-size: 2rem;
    margin: 0;
    text-align: end;
    transform: scaleY(6);
}
.parent > div{
    font-size: clamp(1rem, -2rem + 13.3333vw, 5rem);
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 clamp(0.3rem, 3%, 5rem);
}

.one{
    background: radial-gradient(circle, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);;
    position: sticky;
    top: 0;
}
.two{
    background: linear-gradient(90deg,rgba(42, 155, 115, 1) 0%, rgba(87, 89, 199, 1) 50%, rgba(161, 57, 13, 1) 100%);
    position: sticky;
    top: 0;
    z-index: 1;
}
.three{
    background: radial-gradient(circle,rgba(58, 70, 180, 1) 32%, rgba(253, 29, 29, 1) 80%, rgba(252, 176, 69, 1) 100%);;
    position: sticky;
    top: 0;
    z-index: 2;
}
.four{
    background: linear-gradient(30deg,rgba(238, 174, 202, 1) 4%, rgba(148, 187, 233, 1) 100%);
    position: sticky;
    top: 0;
    z-index: 3;
}

svg{
    position: fixed;
    left: 4px;
    bottom: 4px;
    z-index: 5;
    opacity: 0.5;
}
